<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span><br>
    <%= link_to user_root_path do %>
    <%= fa_icon 'user', text: 'Личный кабинет' %>
    <% end %>,
    <%= link_to destroy_user_session_path, :method => :delete do %>
      <%= fa_icon 'sign-out', text: 'Выйти' %>
    <% end %>
  <% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
  <% end %>
