
<div class="grid-y">
  <div class="cell small-5" id="main-header">
    <div class="grid-x">
      <div class="cell small-12 text-right">
        <% if user_signed_in? %>
            <span>Здравствуйте, <%= current_user.email %></span>
            <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
          <% end %>
      </div>
      <div class="cell small-12">
          <div class="logo">
            <%= inline_svg "logo.svg" %>
          </div>
      </div>
      <div class="cell small-12 medium-8 medium-offset-2">
        <div class="search">
          <input type="text" name="" id="">
        </div>
      </div>
    </div>
  </div>
  <div class="cell small-7" id="main-content"></div>
</div>
