
<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="grid-container">

    <div class="grid-x">
      <div class="cell small-12">
        <%= f.association :theme, label: 'Область деятельности проекта', include_blank: false, label_method: :theme %>
      </div>
      <div class="cell small-12 medium-6">
        <div class="grid-x grid-margin-x">
          <div class="cell small-6">
            <%= f.input :deadline, as: :string, label: 'Дата исполнения', required: true, :placeholder => "Дата исполнения" %>
          </div>
          <div class="cell small-6">
            <%= f.input :cost, as: :string, label: 'Стоимость работ' %>
          </div>
        </div>
      </div>
      <div class="cell small-12 medium-6">
        <div class="preview-box">
          <img id = 'preview' alt = 'Нет изображения' src="<%= @order.picture if @order.picture?%>") %>
        </div>
        <%= f.file_field :picture, input_html: {class: 'show-for-sr' }  %>
      </div>
    </div>
  </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= render file: 'template/datepicker' %>
<script type="text/javascript">
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#preview').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  }
}
$("#order_picture").change(function(){
  readURL(this);
});

$.datetimepicker.setLocale('ru');
$('#order_deadline').datetimepicker({lang: 'ru', timepicker: false, format: 'd/m/Y', formatDate: 'Y/m/d', minDate: '<%= Date.today + 1 %>'});
$("#order_cost").mask('000.000.000.000.000,00', {reverse: true});

</script>
