<%= render file: 'template/header' %>

<div class="grid-container">
  <div class="cell small-12">
<h1>Проекты</h1>
</div>
<div class="cell small-12">

<% @orders.each do |order| %>
    <div class="grid-x grid-margin-x project">

      <div class="cell small-6 medium-2">
        <div class="project_image">
          <%= image_tag(order.picture_url) if order.picture? %>
        </div>
      </div>
      <div class="cell small-6 medium-2"><%= order.cost %>руб.<br><%= order.deadline %></div>
      <div class="cell small-12 medium-7"><%= order.description %></div>
      <div class="small-12">
        <hr>
      </div>
    </div>
<% end %>
</div>

</div>
